*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: hsl(217, 28%, 15%);
    background-image: url('../imgs/bg-curvy-desktop.svg');
    background-size: cover;
    
}
.container{
    position: relative;
}
.logo{
    margin-top: 20px;
   margin-bottom: 20px;
}
.section-one{
    text-align: center;
}
.heading-three{
    color:#f4f4f4f4;
    margin: 1.5rem;
}
.paragraph{
    display:block;
    color:#f4f4f4f4;
    margin: 1.5rem;
}
.first-btn{
    border-radius: 16px 16px 16px 16px ;
    width: 16%; 
    background: linear-gradient(135deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: #ffffff;
    border: none;
    padding: 5px;
    
  
}
.section-two article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icons-one{
    text-align: center;
    padding: 1rem;
    margin: 6rem;
    flex: 1;
    height: 50px;
    width: 50px;
}
article{
    width: 1000px;
}
.section-two{
    display: flex;
}